*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-section{
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
}
/*nav section*/
.nav-container{
      min-height: 40px;
    display: flex;
    align-items: center;
    width: 50%;
}
.nav-container img{
    width: 90px;
    object-fit: cover;
}
.nav-container p{
    font-size: 30px;
}
.air{
    color: #FF5400;
}
.items-container{
       width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.items-container a{
    text-decoration: none;
    font-size: 20px;
}
.items-container .home a{
    color: #FF5400;
}
/*banner section*/
.banner-container{
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 100%;
    position: relative;
}
.banner-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-heading{
    color: white;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
#banner-text{
    color: #FFF;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.btn{
    display: flex;
    justify-content: space-between;
    border: 0;
    padding: 20px 30px;
}
.go{
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    border: 0;
}
.when{
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    border: 0;   
}
.type{
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    border: 0;
}
.find{
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #FF5400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    border: 0;
}

/*plan section*/
.plan-section{
    width: 100%;
    margin: 0 auto;
    min-height: 500px;
    padding: 20px;
    display: flex;
   

}
.plan-text{
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.plan-text>li{
    list-style: none;
    font-weight: 400;
    font-size: 15px;
    margin-right: 30px;
}

.read{
    border-radius: 8px;
    background-color: #FF5400;
    padding: 20px 25px;
    font-size: 25px;
    border: 0;
}
.plan-section-img{
    width: 50%;
}
.plan-section-img>img{
    width: 100%;
    display: block;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 10px;
}
/* destination section*/
.destination-section{
    width: 100%;
    position: absolute;
}
.destination-heading{
text-align: center;
padding: 20px 25px;
font-weight: 800;
font-size: 40px;
}
#destination-desc{
    text-align: center;
   padding: 20px 25px;
   font-weight: 400;
   font-size: 15px;
}

.destination-img{
    display: flex;
    margin-bottom: 13px;
    gap: 15px;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    width: 100%;
}
/*choose section*/
.choose-section{
    max-width: 1250px;
    position: absolute;   
}
